---
import Base from "../layout/Base.astro";
import DashboardContainer from '@/layout/components/functional components/dashboard/DashboardContainer' 
---
<Base>
  <section class="p-5 h-full w-full">
    <div class="flex flex-col rounded-md overflow-hidden max-w-7xl mx-auto h-full w-full">
      <DashboardContainer client:only="react"/>
    </div>
  </section>
</Base>
