---
import LogContainer from "@/layout/components/functional components/log/LogContainer";
import Base from "../layout/Base.astro";
---
<Base>
  <section class="p-5">
    <div class="flex flex-col max-w-7xl mx-auto h-full w-full">
      <LogContainer client:load/>
    </div>
  </section>
</Base>
