---
import VehicleContainer from "@/layout/components/functional components/vehicle/VehicleContainer";
import Base from "../layout/Base.astro";
---
<Base>
  <section class="p-5">
    <div class="flex flex-col max-w-7xl mx-auto h-full w-full">
      <VehicleContainer client:only="react"/>
    </div>
  </section>
</Base>
