@import "tailwindcss";

@theme {
  --color-primary: #4A2545;
  --color-primary-light: #b76c84;
  --color-primary-dark: #310829;
  --color-secondary: #068D9D;
  --color-accent: #DB3069;
  --color-dark: #1C1C1C;
  --color-light: #F5F5F7;
  --color-background: #D3D3D3
}
